php.local.ini
.php-version

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###


/.idea/dataSources.xml
/.idea/git_toolbox_prj.xml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/phpunit.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/symfony2.xml

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###>
/.idea/876-p14-critipixel.iml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/modules.xml
/.idea/commandlinetools/Symfony_5_22_25__6_46PM.xml
